html {
    height: 100%;}

body {
    background-color: #b6a996;
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: helvetica, arial, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 100%;}

h1, h2 {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;}
	

h1 {
    width: 278px;
    height: 112px;
    margin: 0 auto 0 auto;
    padding-top: 40px;
	}
	
h2 {
    width: 286px;
    height: 18px;
    margin: 0 auto 20px auto;
	background-color: #000000 no-repeat center center
    }
	
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  font-size: 24px;
  font-family: helvetica;
  margin-top: 10em; /* Add a top margin to avoid content overlay */
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}
.title {
  color: black;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
