html {
    height: 100%;}

body {
    background-color: #b6a996;
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: helvetica, arial, sans-serif;
    font-size: 100%;
    margin: auto auto auto auto;
    padding: 0;
    text-align: center;
    min-height: 100%;}
	
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  font-size: 24px;
  font-family: helvetica;
  margin-top: 10em; /* Add a top margin to avoid content overlay */
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}
.title {
  color: black;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}


#content {
    background-color: #fff;
    border: 3px double #31373f;
    color: #31373f;
    display: inline-block;
    padding: 30px 50px;
    margin: 7em auto 50px auto;
    max-width: 580px;
    min-height: 4em;
    overflow: auto;
    text-align: center;
	}
	
.message {
    font-weight: bold;
    line-height: 1.5em;
    height: 2em;
    display: block;
	margin: auto auto 3em auto;
    clear: left;
    min-width: 10em;}

{
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  margin-top: 3em;
  float: left;
  width: 33.33%;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  margin: 3em auto auto auto;
  content: "";
  display: table;
  clear: both;
}

label, input, textarea {
	display:block;
	padding: 10px;
	margin: 5px auto auto auto;
	
}

	
.status {
	font-size: 20px;
	color: white;
}
